<nav>
    <div class="nav-wrapper" ng-controller="HeaderCtrl">
        <span class="logo">{{appDetails.title}}</span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Company</a></li>
            <li><a href="#">Other Link</a></li>
            <li><a href="#">{{appDetails.name}}</a></li>
        </ul>
    </div>
</nav>