<nav class="navbar">
    <div class="container-fluid container">
        <div class="navbar-header">
            <span class="logo"><img src="../img/logo.png" class="img-responsive" style="max-height: 75px"></span>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="userNav" href="">{{user.contactCard.firstName}}</a>
        </div>
    </div>
</nav>

<div id="createModal" class="modal" aria-labelledby="myModalLabel" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <h2 class="text-center">Add a user to your directory</h2>
            <form id="signUpForm" name="signUpForm" role="form" data-toggle="validator">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required
                           pattern="^[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,}$">
                    <div class="help-block with-errors"></div>


                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" maxlength="50" class="form-control" id="firstName" name="firstName"
                                   required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" maxlength="50"
                                   required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="title">Job Title</label>
                            <input type="text" maxlength="50" class="form-control" id="title" name="title" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="department">Department</label>
                            <input type="text" class="form-control" id="department" name="department" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="text" class="form-control" id="phone" name="phone" required
                                   pattern="^[0-9]{1,}$" data-minlength="10" maxlength="10"
                                   data-pattern-error="Numbers only"
                                   data-minlength-error="Please enter a valid phone number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ext">Extension</label>
                            <input type="text" class="form-control" id="ext" name="ext" pattern="^[0-9]{1,}$"
                                   data-minlength="1" maxlength="5" data-pattern-error="Numbers only">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-flat btn" id="submit">Create User
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" class="form-control" placeholder="search" id="searchEmp" ng-model="searchText">
                </div>
            </div>
            <div class="panel panel-default userPanel">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-4">
                            <img src="{{ user.contactCard.photoUrl }}" alt="headshot" class="img-responsive">
                        </div>
                        <div class="col-xs-8">
                            <h4>{{ user.contactCard.firstName }} {{ user.contactCard.lastName }}</h4>
                            <p><span class="title">Title: </span>{{ user.contactCard.title }}</p>
                            <p><span class="title">Department: </span>{{ user.contactCard.department }}</p>
                            <p><span class="title">Phone: </span>{{ user.contactCard.phone }}</p>
                            <p><span class="title">Ext: </span>{{ user.contactCard.extension }}</p>
                            <p><span class="title">Email: </span>{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-repeat="contact in contacts | orderBy: 'lastName' | filter:searchText">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-4">
                            <img src="{{ contact.photoUrl }}" alt="headshot" class="img-responsive">
                        </div>
                        <div class="col-xs-8">
                            <h4>{{ contact.firstName }} {{ contact.lastName }}</h4>
                            <p><span class="title">Title: </span>{{ contact.title }}</p>
                            <p><span class="title">Department: </span>{{ contact.department }}</p>
                            <p><span class="title">Phone: </span>{{ contact.phone }}</p>
                            <p><span class="title">Ext: </span>{{ contact.extension }}</p>
                            <p><span class="title">Email: </span>{{ contact.email }}</p>
                            <p><span class="title">Admin: </span>{{ contact.isAdmin }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 sideStuff">
            <div ng-if="user.isAdmin===true">
                <div ng-include src="'views/partials/admin.html'"></div>
            </div>
            <div ng-if="user.isAdmin===false">
                <div ng-include src="'views/partials/user.html'"></div>
            </div>


        </div>
    </div>
</div>

<!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="text-muted text-left">UCF Coding Boot Camp</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="text-muted text-center">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red;"></span> by Team Sour Patch Coders</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="text-muted text-right">Copyright &copy 2016. All rights reserved.</p>
            </div>
            <!-- TODO: ADD PRIVACY POLICY LINK -->
            <!-- TODO: ADD TERMS OF USE LINK -->
        </div>
    </footer>
