<!--HEADER-->
<nav class="navbar">
    <div class="container-fluid container">
        <div class="navbar-header">
            <span class="logo"><img src="../img/logo.png" class="img-responsive" style="max-height: 75px"></span>
        </div>
        <div class="nav navbar-nav navbar-right">
            <button type="button" class="btn signUpBtn btn-lg" data-toggle="modal" data-target="#signUpModal">SIGN
                UP
            </button>
        </div>
    </div>
</nav>

<!-- Modal Structure -->
<div id="signUpModal" class="modal" aria-labelledby="myModalLabel" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <h2 class="text-center">Create a new company directory</h2>
            <form id="signUpForm" name="signUpForm" role="form" data-toggle="validator" ng-submit="submitForm()">
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <!--max 100 characters-->
                    <input type="text" class="form-control" id="companyName" name="companyName" required
                           ng-model="companyName"
                           data-minlength="3" onchange="angular.element(this).scope().companyChange()">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="urlName">MyDirectory URL</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="mydirectoryAddOn">mydirectory.io/</span>
                        <input type="text" class="form-control" id="urlName" name="urlName" maxlength="20"
                               pattern="^[a-z0-9-]{1,}$"
                               data-pattern-error="Lowercase letters, numbers, and dashes only"
                               ng-model="urlName" ng-change="urlValidate()" required>

                    </div>
                    <div class="help-block with-errors"></div>
                    <span class="error" ng-show="signUpForm.urlName.$error.taken">That URL is already taken</span>
                    <span class="error" ng-show="signUpForm.urlName.$error.available">That URL is available</span>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" required maxlength="100">
                    <div class="help-block with-errors"></div>

                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city" required maxlength="100">
                            <div class="help-block with-errors"></div>

                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="state">State</label>
                            <select class="form-control" id="state" name="state" required>
                                <option value=""></option>
                                <option value="AK">Alaska</option>
                                <option value="AL">Alabama</option>
                                <option value="AR">Arkansas</option>
                                <option value="AZ">Arizona</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DC">District of Columbia</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="IA">Iowa</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MD">Maryland</option>
                                <option value="ME">Maine</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MO">Missouri</option>
                                <option value="MS">Mississippi</option>
                                <option value="MT">Montana</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="NE">Nebraska</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NV">Nevada</option>
                                <option value="NY">New York</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VA">Virginia</option>
                                <option value="VT">Vermont</option>
                                <option value="WA">Washington</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WV">West Virginia</option>
                                <option value="WY">Wyoming</option>
                            </select>
                            <div class="help-block with-errors"></div>

                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" id="zip" name="zip" maxlength="5" data-minlength="5"
                                   required pattern="^[0-9]{1,}$">
                            <div class="help-block with-errors"></div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required
                           pattern="^[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,}$">
                    <div class="help-block with-errors"></div>


                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required
                           data-minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{1,}$"
                           data-pattern-error="Must contain at least one number and one letter"
                           data-minlength-error="Must be at least 8 characters long">
                    <div class="help-block with-errors"></div>


                </div>
                <div class="form-group">
                    <label for="password2">Re-type Password</label>
                    <input type="password" class="form-control" data-match="#password"
                           data-match-error="Whoops, these don't match"
                           id="password2" name="password2" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" maxlength="50" class="form-control" id="firstName" name="firstName"
                                   required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" maxlength="50"
                                   required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="title">Job Title</label>
                            <input type="text" maxlength="50" class="form-control" id="title" name="title" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="department">Department</label>
                            <input type="text" class="form-control" id="department" name="department" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="text" class="form-control" id="phone" name="phone" required
                                   pattern="^[0-9]{1,}$" data-minlength="10" maxlength="10"
                                   data-pattern-error="Numbers only"
                                   data-minlength-error="Please enter a valid phone number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ext">Extension</label>
                            <input type="text" class="form-control" id="ext" name="ext" pattern="^[0-9]{1,}$"
                                   data-minlength="1" maxlength="5" data-pattern-error="Numbers only">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-flat btn" id="submit">Sign Up
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum consequat erat sed fermentum. Fusce vel
        est vitae est volutpat ultricies a ac dolor. Maecenas eleifend tempus ipsum, nec cursus felis malesuada eget.
        Phasellus imperdiet massa sed lectus dictum, viverra vehicula enim venenatis. Nulla sagittis neque sed sem
        dignissim bibendum. Phasellus commodo ut orci non fringilla. Quisque quis luctus erat. Donec volutpat congue
        purus. Sed porttitor urna vel urna volutpat tincidunt. Donec vitae accumsan diam. Aliquam dolor diam, eleifend
        non lectus a, tempor sodales mi. In hac habitasse platea dictumst. Sed sodales justo eu libero dictum dapibus.
        In maximus tristique urna, vitae volutpat sapien fringilla vel.

        In hac habitasse platea dictumst. Curabitur at pulvinar nulla. Nunc dignissim viverra tristique. Nulla volutpat
        vulputate pharetra. Etiam lacinia non diam a feugiat. Praesent ullamcorper aliquet congue. Vivamus erat nisl,
        maximus a bibendum a, pretium nec odio. Praesent metus sapien, consectetur maximus interdum ut, porttitor
        aliquet nulla. Nam viverra elementum viverra. Suspendisse tellus risus, pharetra in tincidunt vitae, mollis quis
        lacus. Pellentesque volutpat, odio eu tincidunt elementum, enim nisl pellentesque velit, vitae molestie velit
        ante in sapien. Praesent at velit id est condimentum venenatis. Suspendisse laoreet consectetur odio, vel tempus
        erat tempor vel. Aliquam hendrerit eu erat porta scelerisque.

        Sed elementum vitae felis suscipit finibus. Proin sodales iaculis magna, eget vestibulum mi gravida in. Nullam
        non aliquet enim, ac tempus est. In elementum id leo sed aliquam. Aenean vehicula felis a ultrices ullamcorper.
        Suspendisse vel tellus eu urna semper lacinia id at odio. In viverra finibus augue eu porttitor. Etiam at sem
        quis dui sagittis tempus at ut dui. Nam id eleifend nibh, id consectetur metus. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Aliquam auctor sit amet lacus quis ultricies. Fusce rutrum nisl non tortor
        suscipit, sed elementum elit porta. Aenean elementum tortor eu nunc dapibus blandit placerat et arcu. Sed
        vulputate condimentum velit id blandit. Aliquam vulputate elit eget accumsan tristique. Quisque libero mi,
        posuere ut elit eget, laoreet fermentum erat.
    </p>
</div>

<script src="../js/signup.js"></script>