<!--HEADER-->
<nav class="navbar">
    <div class="container-fluid container">
        <div class="navbar-header">
            <span class="logo"><img src="../img/logo.png" class="img-responsive" style="max-height: 75px"></span>
        </div>
    </div>
</nav>

<div id="login-page" class="container">
    <form>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <img src="{{details.logoUrl}}" alt="logo" class="img-responsive imgThumb">
                <p class="center login-form-text loginName">{{ details.name }} Login</p>
            </div>
        </div>
        <form name="loginForm">
            <div class="row">

                <div class="col-xs-6 col-xs-offset-3">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" class="form-control" ng-model="user.email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" class="form-control" ng-model="user.password"
                           required>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-6 col-xs-offset-3">
                    <button type="submit" ng-click="logMeIn()" class="btn btn-success">Login</button>
                </div>
            </div>
        </form>
</div>
<!--REMEMBER ME DOES NOT WORK-->
<!--<div class="row">-->
<!--<div class="input-field col s12 m12 l12  login-text">-->
<!--<input type="checkbox" id="remember-me" />-->
<!--<label for="remember-me">Remember me</label>-->
<!--</div>-->
<!--</div>-->

<!--FORGOT PASSWORD DOES NOT WORK-->
<!--<div class="row">-->
<!--<div class="input-field col offset-s6 offset-m6 offset-l6 s6 m6 l6">-->
<!--<p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>-->
<!--</div>-->
<!--</div>-->

</form>
</div>