<div class="container">

    <div class="row text-center">
        <div class="col-xs-7">
            {{#each contacts}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>{{ first_name }}</h4>
                        <p><span class="title">Title: </span>{{ jobTitle }}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

