<div id="login-page" class="row">
    <div class="col-xs-12 card-panel">
        <form class="login-form">
            <div class="row">
                <div class="input-field col-xs-12 center">
                    <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                    <p class="center login-form-text">Company Name Login</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col-xs-12">
                    <i class="prefix material-icons">perm_identity</i>
                    <input id="username" type="text">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col-xs-12">
                    <i class="prefix material-icons">lock_outline</i>
                    <input id="password" type="password">
                    <label for="password">Password</label>
                </div>
            </div>

            <!--REMEMBER ME DOES NOT WORK-->
            <!--<div class="row">-->
            <!--<div class="input-field col s12 m12 l12  login-text">-->
            <!--<input type="checkbox" id="remember-me" />-->
            <!--<label for="remember-me">Remember me</label>-->
            <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class="input-field col s12">
                    <a href="index.html" class="btn waves-effect waves-light col s12">Login</a>
                </div>
            </div>

            <!--FORGOT PASSWORD DOES NOT WORK-->
            <!--<div class="row">-->
            <!--<div class="input-field col offset-s6 offset-m6 offset-l6 s6 m6 l6">-->
            <!--<p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>-->
            <!--</div>-->
            <!--</div>-->

        </form>
    </div>
</div>