.container, .nav-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

nav {
    background-color: #3366CC;
    color: #ffffff;
    height: 90px;
}

.userNav {
    color: white;
}

.navbar-nav>li>a {
    text-decoration: none;
    color: white;
}

.headshot {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.navbar-nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav>.open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #003399;
}

nav.container, .navbar-nav>li>a {
    line-height: 60px;
    vertical-align: middle;
}

.signUpBtn {
    background-color: #003399;
    color: #6699ff;
}

.signUpBtn:hover {
    background-color: #6699ff;
    color: #003399;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

footer {
    background-color: #3366cc;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer .container {
    line-height: 60px;
    vertical-align: middle;
}

.title {
    font-weight: bold;
    font-style: italic;
}
.navbar-right {
    line-height: 90px;
    vertical-align: middle;
}
.imgThumb {
    max-width: 300px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.userPanel {
    background-color: rgba(0,51,102, 0.5);
    border: none;
    border-radius: 15px;
}

.contactPanel {
    border: 1px #003366 solid;
    border-radius: 15px;
}

.editBtn {
    position: absolute;
    top: -15px;
    right: 5px;
}

form {
    padding: 10px;
}

.row {
    padding: 5px 0;
}

.text-muted {
    color: white;
}

.loginName {
    font-family: impact;
    font-weight: bold;
    font-size: 3rem;
}
